.banner5 {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  background-color: white;
}

.banner5__right {
  display: flex;
  flex-direction: row;
  flex: 1;
  width: 100%;
  height: 100%;
  justify-content: space-evenly;
  align-items: center;
}
.banner5__img__container {
  display: flex;
  flex-direction: column;
  width: 280px;
  border-radius: 20px;
  height: 370px;
  align-items: center;
  margin-top: -240px;
  justify-content: space-around;
  background-image: linear-gradient(
    white 0%,
    rgb(250, 250, 250) 40%,
    rgb(240, 240, 240) 60%,
    rgb(230, 230, 230) 80%
  );
  box-shadow: 1px 0px 20px 1px rgb(187, 184, 198);
}
.banner5__img__container:hover {
  transition: ease-in-out;
  transform: translateY(-15px);
  transition-duration: 500ms;
}
.banner5__img {
  width: 95%;
  height: 70%;
  padding: 15px;
}
.banner5__title {
  display: flex;
  flex-direction: column;
  flex: 0.8;
  height: 100%;
  padding-left: 70px;
  justify-content: center;
  margin-bottom: 30px;
}
.banner5__title > p {
  font-size: 34px;
  font-weight: 900;
  color: rgb(17, 27, 65);
}
.banner5__title > span {
  color: rgb(68, 80, 103);
  font-family: Arial, Helvetica, sans-serif;
  font-size: 19px;
  width: 80%;
}
.banner5__btn {
  width: 45%;
  margin-top: 20px;
  padding: 8px;
  border-radius: 20px;
  border: 1px solid;
  font-weight: 600;
  font-size: 16px;
  font-family: monospace;
  color: white;
  background-color: rgb(129, 0, 255);
}
.banner5__btn:hover {
  background-color: rgb(17, 27, 65);
  cursor: pointer;
}
#banner5Left {
  margin-top: 70px;
}

.banner5__right__text {
  font-family: monospace;
  padding: 5px;
  text-align: center;
  color: rgb(71, 73, 104);
}
@media (max-width: 600px) {
  .banner5 {
    flex-direction: column;
    margin: 0px;
  }
  .banner5__img__container {
    margin: 0px;
    width: 150px;
    height: 220px;
  }
  #banner5Left {
    margin: 0px;
  }
  .banner5__title {
    margin: 0px;
    padding-left: 0px;
    width: 80%;
    flex: 0.5;
    text-align: center;
    align-items: center;
  }
  .banner5__title > p {
    font-size: 26px;
  }
  .banner5__title > span {
    font-size: 18px;
    width: 100%;
  }
  .banner5__btn {
    width: 75%;
    padding: 10px;
    font-size: 16px;
    margin-top: 30px;
  }
  .banner5__img {
    padding: 0px;
  }
}
@media (max-width: 350px) {
  .banner5__img__container {
    margin: 0px;
    width: 130px;
    height: 190px;
  }
}

@media (min-width: 1000px) and (max-width: 1060px) {
  .banner5__img__container {
    width: 230px;
    height: 320px;
  }
}
@media (max-width: 999px) and (min-width: 601px) {
  .banner5__img__container {
    width: 180px;
    height: 270px;
  }
  .banner5__title > p {
    font-size: 28px;
  }
}
