.footer {
  display: flex;
  height: 100%;
  width: 100%;
  flex-direction: row;

  align-items: center;
  justify-content: space-evenly;
  padding-top: 50px;
  background-color: rgb(246, 248, 252);
}
.footer__blocks {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.footer__blocks > span:hover {
  text-underline-position: below;
  text-decoration: underline;
}
