.banner {
  background-color: white;
  background-image: linear-gradient(
    315deg,
    white 0%,
    rgb(228, 0, 166) 20%,
    rgb(48, 217, 255) 40%,
    rgb(70, 177, 255) 50%,
    rgb(127, 142, 255) 60%,
    rgb(157, 172, 255) 74%,
    rgb(187, 192, 255) 100%
  );

  display: flex;
  flex-direction: row;
  /* margin: 0px; */
  align-items: center;
  z-index: 10;
  clip-path: polygon(0% 0%, 100% 0, 100% 75%, 0 100%);
  /* transform: skewX(5deg); */
}

.banner_left {
  flex: 0.8;
  align-items: center;
  justify-content: center;
  margin-left: 10%;
  z-index: 0;
}
.banner_right {
  flex: 1;
  flex-direction: column;
  margin-left: 5%;
}
.right {
  flex-direction: column;
  width: 70%;
}
.right > span {
  font-family: Georgia, "Times New Roman", Times, serif;
  font-size: 16px;
  color: rgb(40, 40, 40);
}
.right > p {
  color: rgb(17, 27, 65);
  font-size: 32px;
  font-weight: 600;
}
.circle {
  background-color: yellow;
  width: 280px;
  height: 280px;
  z-index: -1;
  border-radius: 50%;
  margin-bottom: -65%;
  margin-left: -50px;
}

.img {
  width: 100%;
  height: 100%;
  z-index: 0;
  /* margin-top: 20px; */
  margin-top: 40px;
}
.banner__footer {
  width: 80%;
  height: 50;
  align-items: center;
  justify-content: center;
}

.banner__form {
  margin-top: 30px;
}
.banner__input {
  width: 65%;
  height: 40px;
  border-radius: 5px;
  border: 1px solid grey;
  padding-left: 15px;
  color: rgb(40, 40, 40);
  font-family: monospace;
  font-weight: 600;
  outline: none;
}
.banner__input:hover {
  border: 1px solid black;
}
.banner__submit {
  padding: 13px;
  border-radius: 5px;
  border: 1px solid grey;
  background-color: yellow;
  color: rgb(40, 40, 40);
  font-size: 14px;
  font-family: monospace;
  font-weight: 600;
}
.banner__submit:hover {
  border: 1px solid black;
  color: black;
}

@media (min-width: 780px) and (max-width: 1060px) {
  .banner_left {
    display: flex;
    flex: 0.8;
  }
  .right {
    width: 90%;
  }
  .right > p {
    font-size: 26px;
  }
  .banner__input {
    width: 60%;
  }
}

@media (max-width: 779px) and (min-width: 600px) {
  .banner_left {
    display: none;
  }
  .banner_right {
    padding-left: 50px;
  }
  .right {
    width: 80%;
  }
  .banner__input {
    width: 65%;
  }
}

@media (max-width: 599px) {
  .banner_left {
    display: none;
  }
  .banner_right {
    padding-left: 30px;
  }
  .right {
    width: 90%;
  }
  .right > p {
    font-size: 24px;
  }
  .right > span {
    font-size: small;
  }
  .banner__input {
    width: 55%;
  }
}
