.banner2 {
  background-color: rgb(246, 248, 252);
  display: flex;
  flex-direction: row;
  align-items: center;
}

.banner2_right {
  display: flex;
  flex: 1.2;
  flex-direction: row;
  align-items: center;
  margin-top: 20px;
  justify-content: space-evenly;
}
.banner2__left {
  display: flex;
  flex: 1;
  align-items: center;
  justify-content: center;
}

.banner2__left__container {
  display: flex;
  flex-direction: column;
  width: 80%;
  height: 90%;
  margin-bottom: 100px;
}
.banner2__left__container > p {
  font-size: 34px;
  font-weight: 900;
  color: rgb(17, 27, 65);
}
.banner2__left__container > span {
  color: rgb(68, 80, 103);
  font-family: Arial, Helvetica, sans-serif;
  font-size: 19px;
}
.banner2__btn {
  width: 45%;
  margin-top: 20px;
  padding: 8px;
  border-radius: 20px;
  border: 1px solid;
  font-weight: 600;
  font-size: 16px;
  font-family: monospace;
  color: white;
  background-color: rgb(129, 0, 255);
}
.banner2__btn:hover {
  background-color: rgb(17, 27, 65);
  cursor: pointer;
}
.banner2__moving1,
.banner2__moving2,
.banner2__moving3 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.banner2__moving1 {
  -webkit-animation: action 1.2s infinite alternate;
  animation: action 1.2s infinite alternate;
}
@-webkit-keyframes action {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(-15px);
  }
}
@keyframes action {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(-15px);
  }
}
.banner2__moving3 {
  -webkit-animation: action 0.8s infinite alternate;
  animation: action 0.8s infinite alternate;
}
@-webkit-keyframes action {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(-15px);
  }
}
@keyframes action {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(-15px);
  }
}

.banner2__moving2 {
  -webkit-animation: action 1.4s infinite alternate;
  animation: action 1.4s infinite alternate;
}
@-webkit-keyframes action {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(-15px);
  }
}
@keyframes action {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(-15px);
  }
}
.banner2__moving1__img,
.banner2__moving2__img,
.banner2__moving3__img {
  width: 150px;
  height: 180px;
  padding: 20px;
  border-radius: 30px;
  margin-bottom: 15px;
  background-image: linear-gradient(
    white 0%,
    rgb(240, 240, 240) 40%,
    rgb(220, 220, 220) 80%
  );
  box-shadow: 1px 0px 20px 1px rgb(187, 184, 198);
  border: 1px solid lightgrey;
}
.banner2__moving1__img:hover,
.banner2__moving2__img:hover,
.banner2__moving3__img:hover {
  transition: ease-in-out;
  transform: rotate(360deg);
  transition-duration: 1.8s;
  width: 120px;
  height: 150px;
}

.big_img {
  width: 100%;
  height: 100%;
  z-index: 1;
  margin-top: 20px;
}
.banner2__footer {
  width: 80%;
  height: 50;
  align-items: center;
  justify-content: center;
}
