.search {
  text-align: center;
}

.search__form {
  margin-top: 50px;
}
.search__input {
  width: 30%;
  height: 40px;
  border-radius: 5px;
  /* border-color: lightgrey; */
  border: 1px solid grey;
  box-shadow: 1px 0px 20px 10px rgb(230, 230, 230);
}
.search__input:hover {
  border: 1px solid yellow;
}
.search__submit {
  padding: 13px;
  box-shadow: 5px 0px 20px 10px rgb(230, 230, 230);
  border-radius: 5px;
  border: 1px solid grey;
  background-color: yellow;
  color: black;
}
.search__submit:hover {
  border: 1px solid black;
}
.search__icons {
  margin-top: 100px;
}

@media (max-width: 600px) {
  .search__input {
    width: 50%;
    font-size: 16px;
    font-family: monospace;
    font-weight: 600;
    height: 37px;
  }
}
